
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="hhttps://fonts.googleapis.com/css?family=Ramabhadra">
    <link rel="stylesheet" href="static/style.css">

    <title>Algorithm Serviços</title>
</head>
        <body data-spy="scroll" data-target=".navbar" data-offset="50">
            <div class="wrapper">
        
              <!--navbar-->
              <nav class="navbar navbar-fixed-top navbar-default">
                <div class="container-fluid">
                  <!--toggle for mobile-->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">//Algorithm</a>
                  </div><!--/.navbar-header-->
                  <!--content to be toggled-->
                  <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="active"><a href="#home">Home</a></li>
                      <li><a href="#about">Quem Somos</a></li>
                      <li><a href="#client">Visāo</a></li>
                      <li><a href="#prod">Produtos <!--&amp; Serviços--></a></li>
                      <li><a href="#asso">Serviços</a></li>
                      <li><a href="#contact">Contacte-nos</a></li>
                    </ul>
                  </div><!--/#menu-->
                </div><!--/.container-fluid-->
              </nav>
        
              <div class="fcover" id="home">
                <div class="gradient">
        
                  <div class="comp">
                      <h1>//Algorithm</h1>
                      <!-- <span>/*code for you*/</span> -->
                  </div><!--/.comp-->
        
                  <div class="down-arrow"><!--scroll arrow-->
                    <h6>SCROLL DOWN</h6>
                    <div id="arrow"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
                  </div><!--/.down-arrow-->
        
                </div><!--/.gradient-->
              </div><!--/.fcover-->
        
              <div class="break"></div>
        
              <!--breifing about the brand-->
              <div class="profile" id="about">
                <div class="container-fluid">
                  <div class="heading">
                    <h1><b>Quem somos...</b></h1>
                  </div><!--/.heading-->
                  <div class="container-fluid">
                    <div class="para">
                      <p> A <i>Algorith Serviços</i> 
                        , é uma empresa especializada em oferecer soluções de análise de dados avançadas e dashboards personalizados. Nossa missão é transformar dados complexos em insights visuais acionáveis para impulsionar o sucesso e a competitividade de nossos clientes.

Nosso compromisso é fornecer serviços adaptados às necessidades específicas das empresas. Com nossos dashboards visuais, pode identificar tendências, monitorar KPIs em tempo real e otimizar processos, tudo de forma clara e intuitiva.
Se sua empresa ainda não possui uma base de dados eletrônica, oferecemos soluções de software de gestão, como o software PHC, ou desenvolvimento de webapps sob medida. Ambas as soluções permitirão que tenha acesso a uma plataforma robusta de gestão empresarial, onde poderá registrar e acompanhar seus dados de forma estruturada.
.
                      </p>
                    </div>
                  </div><!--/.row-->
                </div><!--/.container-fluid-->
              </div><!--/.profile-->
            <!--breifing ends-->
        
            <div class="break"></div>
            <div class="break"></div>
            <div class="break"></div>
        
            <!--catered to-->
            <div class="back" id="client">
              <div class="tilt">
                <!-- <div class="container-fluid heading"><h1><b>Clients...</b></h1></div> -->
                <div class="flexes container-fluid">
                  <div class="box" id="box1">
                    <h2 class="box-topic"><b>Missāo</b></h2>
                    <ul>
                      <li>Nossa missão é capacitar nossos clientes a tomar decisões estratégicas baseadas em dados, fornecendo soluções personalizadas de análise de dados e dashboards que transformam informações complexas em insights claros e acionáveis.</li>
                      <!-- <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li> -->
                    </ul>
                  </div><!--/.box1-->
                  <div class="box" id="box2">
                    <h2 class="box-topic"><b>Visāo</b></h2>
                    <ul>
                      <li>Queremos ser reconhecidos como líderes no fornecimento de soluções inovadoras de análise de dados, impulsionando o sucesso e o crescimento dos negócios de nossos clientes em diversos setores.</li>
                      <!-- <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Lorem ipsum dolor sit amet</li> -->
                    </ul>
                  </div><!--/.box2-->
                  <div class="box" id="box3">
                    <h2 class="box-topic"><b>Valores</b></h2>
                    <ul>
                      <li>Excelência</li>
                      <li>Inovação</li>
                      <li>Parceria</li>
                      <li>Integridade</li>
                    </ul>
                  </div><!--/.box3-->
                </div>
              </div><!--/.tilt-->
            </div><!--/.back-->
            <!--catered ends-->
        
            <div class="break"></div>
            <div class="break"></div>
        
            <!--products and services-->
            <div class="back" id="prod">
              <div class="container-fluid">
                <div class="heading"><h1><b>Produtos <!--&amp; Serviços--></b></h1></div>
                <div class="flexes">

                  <a data-toggle="modal" data-target="#tele"><div class="tab" id="tab1">
                    <span><img src="static/Data Analisys.png" alt="Imagem1" sizes="" srcset=""></span>
                  </div></a><!--/.tab1-->
        
                  <!--modal tele-->
                  <div id="tele" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <!--modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <span class="close" data-dismiss="modal">&times;</span>
                          <h4 class="modal-title">Detalhes</h4>
                        </div><!--/.modal-header-->
                        <div class="modal-body">
                          <h2><b>Data Analisys</b></h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id tortor augue. Nullam at nibh non quam mattis eleifend. Aenean non interdum elit. Pellentesque fringilla quis turpis in elementum. Nunc in felis iaculis nunc ultricies auctor. Maecenas vel metus nibh. Fusce non blandit felis. Curabitur sagittis justo ut sollicitudin sagittis. Ut felis purus, finibus nec urna eu, euismod feugiat nisi. Nulla dignissim semper ligula, non eleifend ex tempor sit amet. Duis non tortor ut justo pharetra facilisis et eu lectus.
        
                             Nullam molestie nulla gravida lectus porta porta.
                          </p>
                          <p>Featues (to list a few):</p>
                          <ul>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                          </ul>
                        </div><!--/.modal-body-->
                      </div><!--modal content-->
                    </div><!--/.modal-dialog-->
                  </div><!--#tele-->
                  <!--modal tele ends-->
        
                  <a data-toggle="modal" data-target="#tele2"><div class="tab" id="tab2">
                    <span><img src="static/phc.png" alt="Imagem2" sizes="" srcset=""></span>
                  </div></a><!--/.tab2-->
        
                  <!--modal tele-->
                  <div id="tele2" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <!--modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <span class="close" data-dismiss="modal">&times;</span>
                          <h4 class="modal-title">Detalhes</h4>
                        </div><!--/.modal-header-->
                        <div class="modal-body">
                          <h2><b>PHC</b></h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id tortor augue. Nullam at nibh non quam mattis eleifend. Aenean non interdum elit. Pellentesque fringilla quis turpis in elementum. Nunc in felis iaculis nunc ultricies auctor. Maecenas vel metus nibh. Fusce non blandit felis. Curabitur sagittis justo ut sollicitudin sagittis. Ut felis purus, finibus nec urna eu, euismod feugiat nisi. Nulla dignissim semper ligula, non eleifend ex tempor sit amet. Duis non tortor ut justo pharetra facilisis et eu lectus.
        
                            Nullam molestie nulla gravida lectus porta porta.
                          </p>
                          <p>Featues (to list a few):</p>
                          <ul>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                          </ul>
                        </div><!--/.modal-body-->
                      </div><!--modal content-->
                    </div><!--/.modal-dialog-->
                  </div><!--#tele-->
                  <!--modal insert ends-->
        
                  <a data-toggle="modal" data-target="#tele3"><div class="tab" id="tab3">
                    <span><img src="static/Software.png" alt="Imagem3" sizes="" srcset=""></span>
                  </div></a><!--/.tab3-->
        
                  <!--modal tele-->
                  <div id="tele3" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <!--modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <span class="close" data-dismiss="modal">&times;</span>
                          <h4 class="modal-title">Detalhes</h4>
                        </div><!--/.modal-header-->
                        <div class="modal-body">
                          <h2><b>Algorithm Software</b></h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id tortor augue. Nullam at nibh non quam mattis eleifend. Aenean non interdum elit. Pellentesque fringilla quis turpis in elementum. Nunc in felis iaculis nunc ultricies auctor. Maecenas vel metus nibh. Fusce non blandit felis. Curabitur sagittis justo ut sollicitudin sagittis. Ut felis purus, finibus nec urna eu, euismod feugiat nisi. Nulla dignissim semper ligula, non eleifend ex tempor sit amet. Duis non tortor ut justo pharetra facilisis et eu lectus.
        
                              Nullam molestie nulla gravida lectus porta porta.
                          </p>
                          <p>Featues (to list a few):</p>
                          <ul>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                          </ul>
                        </div><!--/.modal-body-->
                      </div><!--modal content-->
                    </div><!--/.modal-dialog-->
                  </div><!--#tele-->
                  <!--modal panels ends-->

                </div><!--/.flexes-->
              </div><!--/.container-fluid-->
            </div><!--/.back-->
            <!--products and services end-->
        
            <div class="break"></div>
            <div class="break"></div>
        
            <!--associates-->
            <div class="back" id="asso">
              <div class="container-fluid">
                <div class="heading"><h1><b>Serviços...</b></h1></div>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
        
                    <div class="item active">
                      <i><h2>Criação de Dashboards Personalizados</h2>
                      <span>Projetamos dashboards exclusivos que atendem às necessidades específicas da sua empresa, tornando a tomada de decisões mais assertiva</span></i>
                    </div>
        
                    <div class="item">
                      <i><h2>Análise Avançada de Dados </h2>
                      <span>Utilizamos técnicas de análise de dados para extrair insights valiosos e acionáveis, impulsionando o crescimento do seu negócio.</span></i>
                    </div>
        
                    <div class="item">
                      <i><h2>Visualização de Dados Inovadora </h2>
                      <span>Transformamos dados brutos em visualizações claras e intuitivas, facilitando a compreensão e a tomada de decisões estratégicas.</span></i>
                    </div>
        
                    <div class="item">
                      <i><h2>Gestão de Dados Estruturada</h2>
                      <span>Oferecemos soluções de software de gestão PHC ou desenvolvimento de webapps sob medida, permitindo que sua empresa tenha uma plataforma robusta de registro e acompanhamento de dados.</span></i>
                    </div>
        
                  </div><!--/.carousel-inner-->
        
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div><!--/#myCarousel-->
              </div><!--/.container-fluid-->
            </div><!--/.back-->
            <!--associates end-->
        
            <div class="break"></div>
            <div class="break"></div>
        
            <!--Contact us-->
            <div class="back" id="contact">
              <div class="container-fluid">
                <div class="heading"><h1><b>Contacte-nos</b></h1></div>
                <div class="flexes">
                  <div class="card row" id="card1">
                    <div class="user"><i class="fa fa-user-o"></i></div>
                    <div class="info container-fluid">
                      <span><i>Nelson Cuco</i></span>
                      <hr>
                      <span>Director Geral</span><br>
                      <span>+258 843600030</span><br>
                      <span>email: nelson.cuco@algorithmservicos.com</span>
                    </div><!--/.info-->
                  </div><!--.#card1-->
                  <!-- <div class="card row" id="card2">
                    <div class="user"><i class="fa fa-user-o"></i></div>
                    <div class="info container-fluid">
                      <span><i>Laura Cuco</i></span>
                      <hr>
                      <span>Vendas e Marketing</span><br>
                      <span>+258 843600020</span><br>
                      <span>email: laura.cuco@algorithmservicos.com</span>
                    </div><!--/.info
                  </div>.#card2 -->
                </div><!--/.flexes-
              </div><!--/.container-fluid-->
            </div><!--/.back-->
        
            <div class="break"></div>
            <div class="break"></div>
        
            <!--footer-->
            <footer>
              <div class="container-fluid">
                <div class="up">
                  <span class="grad-text"><h1><b>//Algorithm</b></h1></span>
                  <span class="small">we love Data</span><br>
                  <br><p>...</p>
                  <span class="small">
                    <a href="#"><i class="ico fa fa-twitter"></i></a>
                    <a href="#" target="_top"><i class="ico fa fa-envelope"> </i></a>
                    <a href="#" target="_blank"><i class="ico fa fa-map-marker"> </i></a>
                  </span>
                </div>
                <div class="row">
                  <div class="col-md-6 col-xs-12" style="text-align: center;">
                    <!-- <span><i class="fa fa-phone"></i> +(33)-(1234)-1234567</span> -->
                  </div>
                  <div class="col-md-6 col-xs-12" style="text-align: center;">
                    <!-- <span><i class="fa fa-fax"></i> +(33)-(123)-2344565</span> -->
                  </div>
                </div><!--/.row-->
              </div><!--/.container-fluid-->
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
              <script src="static/script.js"></script>


            </footer><!--footer ends-->
        
            </div><!--/.wrapper-->
          </body>
</html>